@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgba(245, 245, 245, 0.5);
}
header{
    background-image: url(images/blue_bg.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center -450px;
    height: 700px;
    display: flex;
    flex-direction: column;
    /* overflow-x: hidden; */
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    margin-bottom: 30px;
}
nav .left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav .left img{
    height: 120px;
    padding-left: 0;
}
nav .left ul{
    list-style-type: none;
    display: flex;
}
nav .left ul li{
    margin-left: 20px;
    
}
nav .left ul li a{
    color: #5c5959;
    font-size: 15px;
    font-weight: 550;
}
nav .left ul li a:hover{
    border-bottom: 2px solid #AA72B6;
}
nav form input{
    background-color: white;
    border-style: none;
    outline: none;
    padding: 5px 25px;
    border-radius: 50px;
    color: #5c5959;
    font-size: 14px;
    font-weight: 550;
    margin-right: 200px;
    cursor: pointer;
}
/* nav form input:hover{
    cursor: pointer;
} */
.sec_1{
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec_1 .tex_1{
    width: 50%;
    
}
.sec_1 .tex_1 h1{
    font-size: 3em;
    font-weight: 600;
    padding-bottom: 30px;
}
.sec_1 .tex_1 h1 span{
    color: #AA72B6;
}
.sec_1 .tex_1 p{
    font-size: 20px;
    line-height: 30px;
    color: #5c5959;
}
.sec_1 .image_1{
    width: 40%;
    position: relative;
}
.sec_1 .image_1 .im_1{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sec_1 .image_1 .im_2{
    width: 40%;
    position: absolute;
    top: 0;
    left: 45%;
    transform: translate(-50%,-65%);
}
.sec_1 .image_1 .im_3{
    width: 60%;
    /* height: 130px; */
    position: absolute;
    right: 25%;
    top: 50px;
    opacity: 0.9;
}

/* header .image_2 img{
    width: 80vw;
    position: absolute;
    right: 350px;
    bottom: 7%;
    opacity: 1.5;
} */
header .image_2{
    background-image: url(images/waves.png) ;
    /* background-repeat: no-repeat; */
    background-position:right top;
    width: 80%;
    height: 350px;
    /* border: 2px solid red; */
    position: absolute;
    bottom: -30px;
    right: 25%;
    margin: 30px 0;
}
/*          Section 2          */

.sec_2{
    width: 100%;
    height: 100vh;
    background: url(images/second_section_.png) no-repeat;
    background-size: 70%;
    background-position: right 30% top;
    /* position: relative; */
    /* border: 1px solid red; */
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec_2 .container_1{
    /* border: 1px solid blue; */
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
}
.sec_2 .p_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 5%;
    height: calc(100%/3);
    align-self: self-start;
    
}

.sec_2 .p_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%,-50%);
    height: calc(100%/3);
    align-self: center;
}

.sec_2 .p_4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -5%;
    right: 5%;
    height: calc(100%/3);
    align-self: self-end;
}
.sec_2 .container_1 .p_cont_1{
    text-align: center;
    font-size: 1.5em;
    color: #5c5959;
}
.sec_2 .container_1 .P_cont_2{
    text-align: center;
    font-size: 1.1em;
    color: #5c5959;
    margin-top: 25px;
}
.sec_2 .p_5{
    display: inline-flex;
    position: absolute;
    bottom: -100%;
    left: 10%;
}
.sec_2 .p_5 .content{
    position: relative;
    top: -300px;
    left: 50px;
}
.sec_2 .p_5 .content img{
    height: 310px;
    position: absolute;
    top: 50%;
    bottom: 0;
}
.sec_2 .p_5 .content p{
    width: 200px;
    color: white;
    font-weight: 400;
    font-size: 0.8em;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 3;
}
.sec_2 .p_5 .content p span{
    font-size: 4em;
}
/*                Section 3                 */

.sec_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec_3 .top{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-top: 80px;
} 
.sec_3 .top .small{
    height: 50%;
    align-self: flex-end;
}
.sec_3 .top span{
    align-self: flex-end;
}
.sec_3 .top span i{
    font-size: 1.4em;
    color: #5c5959;
}
.sec_3 .bottom .tex_p_1{
    font-size: 1.6em;
    color: #5c5959;
}
.sec_3 .bottom .tex_p_2{
    text-align: center;
    font-size: 1.2em;
    color: #5c5959;
    margin-top: 25px;
}
/*                Footer Section 4                 */
footer{
    background: url(images/Group\ 1131.png) no-repeat;
    /* background-size: ; */
    background-position: top 25% right 60% ;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.sec_4{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}
.sec_4 .left{
    width: 30%;
}
.sec_4 .left .store{
    display: flex;
    
}
.sec_4 .left .store .app_store,
.sec_4 .left .store .ply_store{
    width: 100px;
    height: 35px;
    padding: 10px;
    margin: 10px;
    background: white;
    border-radius: 5px;
    display: flex;
}
.sec_4 .left .store .app_store img,
.sec_4 .left .store .ply_store img{
    height: 20px;
}
.sec_4 .left .store p{
    color: #5c5959;
    font-size: 0.5em;
    font-weight: 500;
    line-height: 10px;
    margin-left: 5px;
}
.sec_4 .left .mid{
    margin: 20px 10px;  
}
.sec_4 .left .mid img{
    height: 20px;
    margin-right: 10px;
}
.sec_4 .left ul{
    list-style-type: none;
    margin: 20px 10px; 
    display: flex;
}
.sec_4 .left ul li a{
    color: white;
    font-size: 0.7em;
    margin-right: 30px;
}
.sec_4 .right  {
    width: 62%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.sec_4 .right .foot_img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 170px;
}
.sec_4 .right .foot_img img{
    width: 800px;
    align-self: flex-end;
}
/*         Media Queries             */
@media  (max-width: 1643px){
    
    .sec_2{
        background-size: 80%;
        background-position: right 40% top 30% ;
    }
    .sec_2 .p_1,
    .sec_2 .p_3,
    .sec_2 .p_4{
        width: 200px;
    }
}
@media (min-width:1400px){
    header{
        height: 900px;
        background-position: center -250px;
    }
    .sec_1{
        margin: 100px auto;
    }
}
@media (max-width:1440px){
    .sec_4 .right .foot_img {
        /* width: 100%; */
        margin-left: 20px;
    }
    .sec_4 .right .foot_img img{
        width: 900px;
        align-self: flex-end;
    }
    .sec_2 .p_3{
       
        top: 57%;
        left: 50%;
        transform: translate(-50%,-50%);
        /* height: calc(100%/3); */
        align-self: center;
    }
}
@media (max-width:1024px){
    header .image_2{
        
        background-position:right top ;
        width: 80%;
        height: 350px;
        /* border: 2px solid red; */
        position: absolute;
        bottom: -70px;
        right: 25%;
        margin: 30px 0;
    }
    .sec_2{
        background-size: 100%;
        background-position: right 20% top 10% ;
    }
    .sec_2 .p_5{
        
        left: 0;
    }
    .sec_3 .top{
        width: 60%;
    }
    .sec_3 .top .small{
        height: 40%;
        align-self: flex-end;
    }
    .sec_3 .top .big{
        height: 400px;
    }
    .sec_4 .right .foot_img {
        width: 50%;
        margin-right: 0;
    }
    .sec_4 .right .foot_img img{
        width: 600px;
        align-self: flex-end;
    }
    footer{
        
        background-position: top 10% right 30% ;
        background-size:auto;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}
